<!DOCTYPE html>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="/static/tapmodo-Jcrop-25f2e18/css/jquery.Jcrop.css" />
<link rel="stylesheet" href="/static/css/crop.css" />
<title>hydro plot etopo: crop</title>

<body>
<!-- Security through obscurity - terrible. -->
<img id="target" src="/big/{{tmpdir_as_base64}}" />

<div id="coords">
  <form method="POST" action="/download/{{tmpdir_as_base64}}">
    <label for="x1">X<sub>1</sub>:</label> <input id="x1" name="x1" class="coord-input" type="number" />
    <label for="y1">Y<sub>1</sub>:</label> <input id="y1" name="y1" class="coord-input" type="number" />
    <label for="x2">X<sub>2</sub>:</label> <input id="x2" name="x2" class="coord-input" type="number" />
    <label for="y2">Y<sub>2</sub>:</label> <input id="y2" name="y2" class="coord-input" type="number" />
    <input type="submit" value="Crop" />
  </form>
</div>
</body>

<script src="/static/tapmodo-Jcrop-25f2e18/js/jquery.min.js"></script>
<script src="/static/tapmodo-Jcrop-25f2e18/js/jquery.Jcrop.min.js"></script>
<script src="/static/js/crop.js"></script>
